@import url(https://fonts.google.com/specimen/Libre+Franklin);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
    Font-size: 20px;

}

a {
    text-decoration: none;
    color: #222;
}

body {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fff;
    color: #222;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80vw;
    /* height: 100vh; */
    height: fit-content;
    border: none;
    box-shadow: 2px 2px 3px var(--Very-Dark-Blue), -2px -2px 3px var(--Very-Dark-Blue);
    overflow: hidden;
    padding: 1rem;
    margin: auto;
    text-align: center;
}


.logo {
    margin: 1.5rem auto;
}


.m-heading {
    font-weight: 700;
    font-size: 2rem;
}

.m-heading .light-h {
    font-weight: 300;
    color: var(--Gray)
}

p.text {
    font-size: 1rem;
    padding: 0.4rem;
}

#form {
    position: relative;
    width: 50%;
    margin: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

#form .email,
.btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--Pale-Blue);
    border-radius: 2rem;
    outline: none;
}

#form .email {
    width: 100%;
    margin: 0 1rem;

}

#form .btn {
    padding: 0.5rem 2rem;
    background-color: var(--Blue);
    color: #fff;
    box-shadow: 2px 3px 8px var(--Pale-Blue);
    width: 70%;
    height: 2rem;
}



.err-msg {
    display: block;
    text-align: left;
    padding-left: 1rem;
}

.top {
    padding-bottom: 2rem;
}

.showcase {
    width: 100%;
}

.showcase img {
    width: 100%;
}

.icon {
    color: var(--Blue);
    margin: 1rem 0.5rem;
    transition: all 500ms ease-in-out;
}

.icon:hover {
    transform: translateY(-1rem);
    transform: scaleX(1.12)
}

@media(max-width:800px) {

    body {
        padding: 0;
        font-size: 15px;
        line-height: 1.3;
    }

    .container {
        width: 100vw;
    }

    #form {
        position: relative;
        width: 50%;
        margin: auto;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    #form .email,
    .btn {
        padding: 0.5rem 1rem;
        border: 1px solid var(--Pale-Blue);
        border-radius: 2rem;
        outline: none;
    }

    #form .email {
        width: 50%;
        margin: 0 1rem;

    }

    #form .btn {
        padding: 0.5rem 1rem;

    }

}

@media(max-width:600px) {

    body {
        padding: 0;
        font-size: 15px;
        line-height: 1.3;
    }

    .container {
        width: 100vw;
    }


    #form .email,
    .btn {
        padding: 0.5rem 0.5rem;
        border: 1px solid var(--Pale-Blue);
        border-radius: 2rem;
        outline: none;
    }

    #form {
        position: relative;
        width: 50%;
        margin: auto;
        text-align: left;
    }

    #form .email {
        width: 100%;
        margin: 0 1rem;

    }

    #form .btn {
        padding: 0.5rem 1rem;
        width: 100%;
        margin: 1rem 1rem;

    }

}